---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404 – Page Not Found"
  description="Error page for the 404 HTTP status code"
  noIndex
>
  <main>
    <hgroup>
      <p>404 Error</p>
      <h1>Page Not Found</h1>
    </hgroup>
    <p>Sorry, the page you are looking for does not exist or has been moved.</p>
    <div>
      <a href="/">Back to Home</a>
    </div>
  </main>
</Layout>
