---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Astro 6 Starter"
  description="Minimal Astro 6 starter template preconfigured for deployment on Cloudflare Workers."
>
  <main>
    <h1>Homepage</h1>
    <a href="/not-found">Test 404 page</a>
  </main>

  <style>
    main {
      padding: 2rem;
    }

    a {
      display: inline-block;
      margin-top: 1.5rem;
    }
  </style>
</Layout>
