---
import { Font } from "astro:assets";
import Favicon from "../components/Favicon.astro";

type Props = {
  title: string;
  description: string;
  noIndex?: boolean;
};

const { title, description, noIndex = false } = Astro.props;
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <Font cssVariable="--default-font" preload />
    <Favicon />
    <meta name="color-scheme" content="dark light" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    {
      noIndex && (
        // Bing: https://www.bing.com/webmasters/help/robots-meta-tags-and-attributes-that-bing-supports-5198d240
        // Google: https://developers.google.com/search/docs/crawling-indexing/robots-meta-tag#directives
        <meta name="robots" content="noindex" />
      )
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style is:global>
      * {
        margin: 0;
      }

      body {
        font-family: var(--default-font);
      }

      h1 {
        font-size: 2rem;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    {/* Wrap with `div` to prevent a body overflow in mobile browsers. */}
    <div>
      <slot />
    </div>
  </body>
</html>
