---
import { Font } from "astro:assets";
import Favicon from "../components/Favicon.astro";
import "../styles/globals.css";

interface Props {
  title: string;
  description: string;
  noIndex?: boolean;
}

const { props } = Astro;
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <Font cssVariable="--font-geist" preload />
    <Favicon />
    <meta name="description" content={props.description} />
    <meta name="generator" content={Astro.generator} />
    {
      props.noIndex && (
        // Bing: https://www.bing.com/webmasters/help/robots-meta-tags-and-attributes-that-bing-supports-5198d240
        // Google: https://developers.google.com/search/docs/crawling-indexing/robots-meta-tag#directives
        <meta name="robots" content="noindex" />
      )
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{props.title}</title>
  </head>
  <body>
    {/* Wrap with `div` to prevent a body overflow in mobile browsers. */}
    <div>
      <slot />
    </div>
  </body>
</html>
